root = true

[*]
end_of_line = lf
insert_final_newline = true

# 2 space indentation
[*.{js, json, exs}]
indent_style = space
indent_size = 2

# 4 space indentation
[*.{rs}]
indent_style = space
indent_size = 4
